* {
  /* Change your font family */
}
.contentTable {
  border-collapse: collapse;
  margin: 30px auto;
  display: "flex";
  justify-content: "center";
  min-width: 600px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.contentTable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.contentTable th,
.contentTable td {
  padding: 12px 15px;
  text-align: center;
}

.contentTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.contentTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.contentTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.contentTable tbody tr.activeRow {
  font-weight: bold;
  color: #009879;
}
@media only screen and (max-width: 700px) {
  .contentTable {
    margin: 30px auto;
    min-width: 400px;
    font-size: 0.8em;
  }
  .contentTable th,
  .contentTable td {
    padding: 12px 15px;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .contentTable {
    margin: 30px auto;
    min-width: 270px;
    font-size: 0.7em;
  }
  .contentTable th,
  .contentTable td {
    padding: 12px 5px;
    text-align: center;
  }
}
@media only screen and (max-width: 340px) {
  .contentTable {
    margin: 30px auto;
    min-width: 250px;
  }
}
@media only screen and (max-width: 320px) {
  .contentTable {
    margin: 30px auto;
    min-width: 220px;
  }
}
